@using ABLAB.Sogo.PoC.Shared.Dtos
@using Newtonsoft.Json

<!-- Property Search Section Two -->
<section class="property-search-section-two" style="background-image: url(images/background/banner-01.jpg);">
  <div class="auto-container">
   <div class="content-box">
    <div class="title-box">
     <h2>Discover a <span>Property</span> You'll love to live.</h2>
     <h4>The best place to find your property</h4>
   </div>
   <div class="property-search-form style-two">
    <form method="post" action="#">
      <div class="row no-gutters">
        <!-- Form Group -->
        <div class="form-group col-lg-2 col-md-6 col-sm-12">
          <select class="custom-select-box">
            <option>Location</option>
            <option>New York</option>
            <option>Los Angeles</option>
            <option>Chicago</option>
            <option>Houston</option>
          </select>
        </div>

        <!-- Form Group -->
        <div class="form-group col-lg-2 col-md-6 col-sm-12">
          <select class="custom-select-box">
            <option>Property Type</option>
            <option>Residential</option>
            <option>Commercial</option>
            <option>Industrial</option>
            <option>Apartments</option>
          </select>
        </div>

        <!-- Form Group -->
        <div class="form-group col-lg-2 col-md-6 col-sm-12">
          <select class="custom-select-box">
            <option>Property Status</option>
            <option>For Rent</option>
            <option>For Sale</option>
          </select>
        </div>


        <!-- Form Group -->
        <div class="form-group col-lg-2 col-md-6 col-sm-12">
          <select class="custom-select-box">
            <option>Any Bedrooms</option>
            <option>01 Bedroom</option>
            <option>02 Bedrooms</option>
            <option>03 Bedrooms</option>
            <option>04 Bedrooms</option>
            <option>05 Bedrooms</option>
          </select>
        </div>

        <!-- Form Group -->
        <div class="form-group col-lg-2 col-md-6 col-sm-12">
          <select class="custom-select-box">
            <option>Any Bathrooms</option>
            <option>01 Bathroom</option>
            <option>02 Bathrooms</option>
            <option>03 Bathrooms</option>
            <option>04 Bathrooms</option>
            <option>05 Bathrooms</option>
          </select>
        </div>

        <!-- Form Group -->
        <div class="form-group col-lg-2 col-md-6 col-sm-12">
          <button type="submit" class="theme-btn btn-style-one">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</section>
<!--End Property Search Section Two -->  

@* @code {
    private IList<ApartmentDto>? apartments;

    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        client.BaseAddress = new Uri("https://ablab.aspnet.pl/api/2/popular");
        var apartmentsRequest = await client.GetAsync("?id=0");
        apartments = await apartmentsRequest.Content.ReadFromJsonAsync<List<ApartmentDto>>();
    }
} *@